<!-- contact -->
<div class="contact">
  <div class="container">
    <h3 class="agileits-title">Add Your Dog</h3>
    <div class="contact-agileinfo">
      <div class="col-md-12 contact-right">
        <%= render partial: 'form' %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- /contact -->