<!-- about -->
<div class="about agileinfo">
  <div class="container">
    <h3 class="agileits-title">About Me</h3>
    <div class="markets-grids">
      <div class="col-md-6 about-w3left">
        <h4>Reinier Garcia</h4>
        <p class="text-justify">
          I'm a highly focused and reliable Junior+ Full-Stack Web Developer, with an excellent learning capacity and a
          high dedication to work. Competent in handling multiple tasks and concerns with the utmost professionalism.
          Able to work independently with little or no supervision, or in coordination with supervisors and other
          coworkers.
        </p>

        <%= link_to "https://www.reiniergarcia.dev/", class: "button button-isi", target: '_website' do %>
          <span>Read More</span>
          <i class="fa fa-link"></i>
        <% end %>
      </div>
      <div class="col-md-4 about-w3right">
        <img src="<%= "#{asset_path 'reinier_about_sharp_note_rounded_borders.png'}" %>" alt=""/>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>
</div>
<!-- //about -->










